@import url('./font.css');

.a {
    color: blue;
    background: url('/static/express.png') center top no-repeat;
}

.font {
    font-size: 16px;
}

.font {
    font-size: 18px;
}

.b-color {
    background: url('../images/2.png') center top no-repeat;
}

.class-name {
    color: red;
}

:global(.title-color) {
    color: green;
}

.className1 {
    background: red;
}

.className2 {
    background: blue;
}